
.logo-center{
    padding-top: 25vh;
    padding-bottom: 5vh;
    text-align: center;
}

.logo-center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 40%;
}

.container-form{
    padding: 10%; 
}

.link-custome{
    text-align: center;
    display: block;
    margin: auto;
}